# Wire up travis
language: python
sudo: false

env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py32
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=pypy
  - TOXENV=pypy3
  - TOXENV=py2-cover,py3-cover,coverage

install:
  - travis_retry pip install tox

script:
  - travis_retry tox
