graft src
graft tests
graft .github

include README.rst
include CHANGES.rst
include LICENSE.txt

include pyproject.toml setup.cfg
include .coveragerc .flake8
include tox.ini

recursive-exclude * __pycache__ *.py[cod]
