graft src
graft tests

include README.rst
include CHANGES.rst
include LICENSE.txt

include pyproject.toml setup.cfg
include .coveragerc .flake8
include tox.ini .travis.yml

recursive-exclude * __pycache__ *.py[cod]
